<div class="col-12 col-xl-4 col-lg-6 col-md-8 col-sm-10 mx-auto my-3" style="background-color: #FFFFFF;">
  <div class="row justify-content-center">
    <h3 class="mt-3">About</h3>
  </div>
  <div class="row justify-content-center">
    <h5>egaotoでできること</h5>
  </div>
  <div class="row">
    <!--image-->
    <p>投稿する</p>
  </div>
  <div class="row">
    <!--image-->
    <p>コメントする</p>
  </div>
  <div class="row">
    <!--image-->
    <p>繋がる</p>
  </div>
  <p>今の気持ちを気軽に投稿してよう</p>
</div>