<div class="col-12 col-xl-4 col-lg-6 col-md-8 col-sm-10 mx-auto my-3" style="background-color: #FFFFFF;">
  <div class="row pt-3 justify-content-center">
    <h2>egaotoでできること</h2>
  </div>
  <div class="rowd-flex flex-column align-items-center text-center">
    <%= image_tag asset_path('image1.png'), size: "200x200" %>
    <h3>投稿する</h3>
    <p>今の気持ちを投稿してみよう</p>
    <%= image_tag asset_path('image2.png'), size: "200x200" %>
    <h3>コメントする</h3>
    <p>気になる投稿にコメントしてみよう</p>
    <%= image_tag asset_path('image3.png'), size: "200x200" %>
    <h3>繋がる</h3>
    <p class="pb-3">ユーザー同士でフォローして繋がることができます</p>
  </div>
</div>