<div class="col-4 mx-auto my-3" style="background-color: #FFFFFF;">
  <div class="row">
    <div class="col-6 sm-6 mx-auto my-3">
      <h1>top</h1>
    </div>
  </div>
  <div class="row">
    <div class="btn-wrapper col-6 sm-6 mx-auto">
      <div class="row">
        <%= link_to "ゲストログイン", "", class: "btn btn-secondary btn-sm btn-block mb-3 sign_in", method: :post %>
      </div>
      <div class="row">
        <%= link_to 'ログイン',new_user_session_path, class: "btn btn-info btn-sm btn-block mb-3 sign_in" %>
      </div>
      <div class="row">
        <%= link_to '新規作成',new_user_registration_path, class: "btn btn-success btn-sm btn-block sign_up" %>
      </div>
      <div class="row">
        <p>Copyright 2024 egaoto</p>
      </div>
    </div>
  </div>
</div>
