<div class="col-4 mx-auto my-3" style="background-color: #FFFFFF;">
  <div class="row d-frex justify-content-center">
    <h4 class="my-3">本当に退会しますか？</h4>
  </div>
  <div class="row d-frex justify-content-center">
    <div class="col-6 my-3">
      <%= link_to "退会する",user_path(@user.id) ,method: :delete, class: "btn btn-danger" %>
    </div>
    <div class="col-6 m">
      <%= link_to "しない", mypage_path, class: "btn btn-success" %>
    </div>
  </div>
</div>
