<div class="col-4 mx-auto my-3" style="background-color: #FFFFFF;">
  <duv class="row mx-auto">
  <table class="table">
    <thead>
      <tr>
        <th style="text-align: center;">プロフィール画像</th>
        <th style="text-align: center;">ユーザー名</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= image_tag user.get_image, class:"rounded-circle mx-auto d-block" %></td>
          <td style="text-align: center;vertical-align: middle; font-size: 20px;"><%= link_to user.name ,user_path(user) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>