<div class="col-4 mx-auto" style="background-color: #FFFFFF;">
  <duv class="row mt-3">
  <table class="table">
    <thead>
      <tr>
        <th>プロフィール画像</th>
        <th>ユーザー名</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= image_tag user.get_image %></td>
          <td><%= link_to user.name ,user_path(user) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>