<div class="col-4 mx-auto" style="background-color: #FFFFFF;">
  <duv class="row">
    <h3>ユーザー</h3>
  </duv>
  <table class="table">
    <thead>
      <tr>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= image_tag user.get_profile_image %></td>
          <td><%= link_to "<%= user.name %>",user_path(user) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>