<div class="col-4 mx-auto" style="background-color: #FFFFFF;">
  <div class="row">
    <div class="col">
      <%= image_tag @user.get_profile_image(100,100) %>
    </div>
    <div class="col">
      <h3><%= @user.name %></h3>
    </div>
    
  </div>
</div>
