<footer class="page-footer" style="background-color: #F8C6BD;">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <% user_signed_in? %>
      <ul class="nav my-3">
        <li class="nav-item ml-4">
          <%= link_to mypage_path do %>
          <i class="fa-solid fa-circle-user" style="color: #ffffff;"></i>
          <p style="font-size: 10px;">マイページ</p>
          <% end %>
        </li>
        <li class="nav-item ml-4">
          <%= link_to new_post_path do %>
          <i class="fa-solid fa-plus" style="color: #ffffff;"></i>
          <p style="font-size: 10px;">新規</p>
          <% end %>
          <p></p>
        </li>
        <li class="nav-item ml-4">
          <%= link_to posts_path do %>
          <i class="fa-solid fa-house" style="color: #ffffff;"></i>
          <p style="font-size: 10px;">ホーム</p>
          <% end %>
        </li>
        <li class="nav-item ml-4">
          <%= link_to users_path do %>
          <i class="fa-solid fa-users" style="color: #ffffff;"></i>
          <p style="font-size: 10px;">ユーザー</p>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</footer>