<footer class="page-footer" style="background-color: #F8C6BD;">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <i class="fa-solid fa-circle-user" style="color: #ffffff;"></i>
      <i class="fa-solid fa-house" style="color: #ffffff;"></i>
      <i class="fa-solid fa-plus" style="color: #ffffff;"></i>
      <i class="fa-solid fa-users" style="color: #ffffff;"></i>
    </div>
  </div>
</footer>